*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*header------------------------------------------*/
.my-header-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    padding: 2em 1em;
}

.my-logo-section{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.my-img-container{
    width: 50px;
    height: 50px;
}

.my-logo-img{
    width: 100%;
}

#my-btn-play{
    background-color: rgb(197, 197, 197);
    border: 1px solid black;
    border-radius: 15px;

    padding: 0.1em 2em;
}

/*main------------------------------------------------*/

.my-main-bgc{
    background-color: aquamarine;
}

.my-main-display{
    display: flex;
    justify-content: center;
    padding: 3em 0;
    
}

#my-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: calc(60px * 10);
}


.my-cell{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    border: 1px solid black;
}


.active{
    background-color: dodgerblue;
    color: white;
}






/*footer------------------------------------------------*/
.my-footer-display{
    padding: 2em 1em;
}